<div class="list__container">
    <div class="list__content__container">
        <a class="" href="<%="/lists/new"%>">
            <button class="new_list_button">
                New list
            </button> 
        </a>
        <h1>To Do!</h1>  
        <div class="buttons__container">   
            <% @lists.each do |list| %>
                <a class="test" href="<%="/lists/#{list.id}"%>">
                    <button class="list_button">
                        <%= list.name %>
                    </button> 
                </a>
            <% end %>
        </div>    
    </div>
</div>
