<div class="container">
    <div class="lists_container">
        <h1>To Do!</h1>  
        <div class="buttons__container">   
            <% @lists.each do |list| %>
                <a class="test" href="<%="/lists/#{list.id}"%>">
                    <button class="list_button">
                        <%= list.name %>
                    </button> 
                </a>
            <% end %>
        </div>    
    </div>
</div>
