<div class="list__container">
    <div class="list__content__container">
        <h1>New List</h1>  
        <div class="list__form__container">
            <%= form_for :list do |f| %>
                <%= text_field_tag :list_name, nil, placeholder: "List name" %><br />
                <%= f.submit "Create list", class: "cover__log__sign__buttons" %>
            <% end %>
        </div>
    </div>
</div>
