<div class="cover__container">
    <div class="logo__cover__container">
        <img class="cover__logo" src="http://www.eurovoix.com/wp-content/uploads/2016/05/logo_logo.png" />
        <div class="cover__buttons">
            <button class="cover__log__sign__buttons">Login</button>
            <button class="cover__log__sign__buttons">Sign Up</button>
        </div>
    </div>
</div> 