<div class="cover__container">
    <div class="logo__cover__container">
        <img class="cover__logo" src="http://www.eurovoix.com/wp-content/uploads/2016/05/logo_logo.png" />
        <div class="login__signin__background">
            <div class="cont_tabs_login">
                <div class='cover__buttons'>
                    <button class="top__log_sign__buttons" 
                            onclick="window.location.href='/sessions/index'">
                        LOGIN
                    </button>
                    <button class="top__log_sign__buttons button__inactive" 
                            onclick="window.location.href='/sessions/new'" disabled>
                        REGISTER
                    </button>
                </div>
            </div>
            <form>
                <input type="name"  placeholder="Name" >
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="confirm_password" placeholder="Comfirm Password">
                <button class="bottom__log_sign__buttons">Sign Up</button>
            </form>
        </div>
    </div>
</div> 