<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='home.scss'/>
</head>
<body>
    <div class="container">
        <div class="item-a">
            <img src="http://www.eurovoix.com/wp-content/uploads/2016/05/logo_logo.png" height="50" />
            <a href="">Assignments</a>
            <p>Log Out</p>
        </div>
        <div class="container-test">
            <p>Add name of your assignment</p>
            <input type="text"></input>
            <buttton class="secondary-button">Add</buttton>
            

           
        </div>
    </div>

</body>
</html>

