/* line 1, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/header.scss */
.header__logout_button {
  position: absolute;
  right: 10px;
  top: 0px;
}
/* line 5, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.add__new__list {
  border-radius: 5px;
}

/* line 9, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
body {
  background-color: #4FB0C6;
  height: 100%;
  margin: 0;
}

/* line 15, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.buttons__container {
  display: inline;
}

/* line 19, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.container {
  padding: 100px;
  width: 360px;
}

/* line 24, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.cover__buttons {
  border-radius: 5px;
  margin: 20px;
  text-align: center;
}

/* line 30, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.cover__container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
}

/* line 38, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.cover__logo {
  height: 180px;
  width: 350px;
}

/* line 43, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
h1 {
  border-bottom: 20px;
  color: #4FB0C6;
  font-family: sans-serif;
  padding: 10px;
  padding-left: 100px;
}

/* line 51, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
h3 {
  font-family: sans-serif;
  margin-left: 10%;
  padding-top: 40px;
}

/* line 57, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
h4 {
  font-family: sans-serif;
  margin-left: 12%;
}

/* line 62, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
p {
  font-family: sans-serif;
}

/* line 69, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
label {
  font-family: sans-serif;
}

/* line 73, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
html {
  height: 100%;
}

/* line 77, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
input, .field > input {
  border: 0px;
  border-bottom: 1px solid #B0BEC5;
  display: block;
  font-family: sans-serif;
  font-size: 15px;
  outline: none;
  padding: 5px;
  width: 300px;
  position: relative;
  outline: none;
  transition: all 0.5s;
  height: 15px;
}

/* line 92, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
input:focus {
  border-bottom: 1px solid #1F5673;
}

/* line 96, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.logo {
  border: 0;
  float: left;
  width: 50px;
}

/* line 102, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.logo__cover__container {
  align-items: center;
  justify-content: center;
}

/* line 107, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.login__signin__background {
  background-color: white;
  border-radius: 2px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

/* line 115, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.login__title {
  color: #4FB0C6;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  padding: 10px;
}

/* line 122, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
p {
  text-align: center;
}

/* line 126, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.nav {
  border: 1px solid black;
  float: right;
}

/* line 131, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.nav__item {
  display: inline-block;
}

/* line 135, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.secondary-button {
  margin-left: 40%;
}

/* line 149, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.new__task__button {
  background-color: #1F5673;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  height: 40px;
  font-size: 14px;
  width: 100px;
  height: 30px;
}

/* line 157, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.cover__log__sign__buttons {
  background-color: #1F5673;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  height: 40px;
  background-color: #1F5673;
  margin-top: 10px;
  width: 175px;
}

/* line 163, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.bottom__log_sign__buttons {
  background-color: #1F5673;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  height: 40px;
  margin-top: 30px;
  width: 310px;
}

/* line 169, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.top__log_sign__buttons {
  background-color: #1F5673;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  height: 40px;
  width: 130px;
  margin-top: 15px;
}

/* line 175, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.button__inactive {
  background-color: #7cbfe25c;
  border: 1.5px solid #1F5673;
  color: #1F5673;
}

/* line 181, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.title {
  border: 1px solid black;
  margin-top: 50px;
  text-align: center;
}

/* line 187, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
ul {
  margin-left: 10%;
}

/* line 191, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.test {
  display: inline-block;
  width: 43%;
}

/* line 196, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
a {
  text-decoration: none;
  font-family: sans-serif;
}

/* line 201, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
#error_explanation {
  font-family: sans-serif;
  font-size: 12px;
}
/* line 7, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.list_button {
  background-color: #1F5673;
  border: 0px;
  border-radius: 2px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  padding: 9px;
  max-height: 50px;
  width: 100%;
}

/* line 19, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.new_list_button {
  background-color: #1F5673;
  border: 0px;
  border-radius: 2px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  position: relative;
  float: right;
  padding: 10px 10px;
  margin: 6px;
  width: 120px;
}

/* line 33, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.list__container {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* line 40, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.list__content__container {
  background-color: whitesmoke;
  border-radius: 2px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 100px;
  min-width: 350px;
  max-width: 800px;
  width: 80%;
}

/* line 51, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.list__form__container {
  margin: 10px;
}

/* line 55, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.test {
  padding: 3px;
}

/* line 59, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.contianer__back_button {
  float: left;
}

/* line 63, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.new__tasks__container {
  width: 50%;
  margin: 0 auto;
}

/* line 68, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
#task_name {
  width: 100%;
}

/* line 73, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.lists__text {
  margin-left: 0;
}

/* line 77, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.lists_title {
  font-size: 40px;
}

/* line 81, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.to_do_title {
  text-align: left;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 1, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/header.scss */
.header__logout_button {
  position: absolute;
  right: 10px;
  top: 0px;
}

/* line 5, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.add__new__list {
  border-radius: 5px;
}

/* line 9, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
body {
  background-color: #4FB0C6;
  height: 100%;
  margin: 0;
}

/* line 15, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.buttons__container {
  display: inline;
}

/* line 19, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.container {
  padding: 100px;
  width: 360px;
}

/* line 24, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.cover__buttons {
  border-radius: 5px;
  margin: 20px;
  text-align: center;
}

/* line 30, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.cover__container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
}

/* line 38, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.cover__logo {
  height: 180px;
  width: 350px;
}

/* line 43, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
h1 {
  border-bottom: 20px;
  color: #4FB0C6;
  font-family: sans-serif;
  padding: 10px;
  padding-left: 100px;
}

/* line 51, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
h3 {
  font-family: sans-serif;
  margin-left: 10%;
  padding-top: 40px;
}

/* line 57, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
h4 {
  font-family: sans-serif;
  margin-left: 12%;
}

/* line 62, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
p {
  font-family: sans-serif;
}

/* line 69, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
label {
  font-family: sans-serif;
}

/* line 73, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
html {
  height: 100%;
}

/* line 77, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
input, .field > input {
  border: 0px;
  border-bottom: 1px solid #B0BEC5;
  display: block;
  font-family: sans-serif;
  font-size: 15px;
  outline: none;
  padding: 5px;
  width: 300px;
  position: relative;
  outline: none;
  transition: all 0.5s;
  height: 15px;
}

/* line 92, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
input:focus {
  border-bottom: 1px solid #1F5673;
}

/* line 96, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.logo {
  border: 0;
  float: left;
  width: 50px;
}

/* line 102, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.logo__cover__container {
  align-items: center;
  justify-content: center;
}

/* line 107, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.login__signin__background {
  background-color: white;
  border-radius: 2px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

/* line 115, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.login__title {
  color: #4FB0C6;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  padding: 10px;
}

/* line 122, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
p {
  text-align: center;
}

/* line 126, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.nav {
  border: 1px solid black;
  float: right;
}

/* line 131, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.nav__item {
  display: inline-block;
}

/* line 135, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.secondary-button {
  margin-left: 40%;
}

/* line 149, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.new__task__button {
  background-color: #1F5673;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  height: 40px;
  font-size: 14px;
  width: 100px;
  height: 30px;
}

/* line 157, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.cover__log__sign__buttons {
  background-color: #1F5673;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  height: 40px;
  background-color: #1F5673;
  margin-top: 10px;
  width: 175px;
}

/* line 163, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.bottom__log_sign__buttons {
  background-color: #1F5673;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  height: 40px;
  margin-top: 30px;
  width: 310px;
}

/* line 169, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.top__log_sign__buttons {
  background-color: #1F5673;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  height: 40px;
  width: 130px;
  margin-top: 15px;
}

/* line 175, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.button__inactive {
  background-color: #7cbfe25c;
  border: 1.5px solid #1F5673;
  color: #1F5673;
}

/* line 181, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.title {
  border: 1px solid black;
  margin-top: 50px;
  text-align: center;
}

/* line 187, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
ul {
  margin-left: 10%;
}

/* line 191, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
.test {
  display: inline-block;
  width: 43%;
}

/* line 196, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
a {
  text-decoration: none;
  font-family: sans-serif;
}

/* line 201, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/home.scss */
#error_explanation {
  font-family: sans-serif;
  font-size: 12px;
}

/* line 7, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.list_button {
  background-color: #1F5673;
  border: 0px;
  border-radius: 2px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  padding: 9px;
  max-height: 50px;
  width: 100%;
}

/* line 19, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.new_list_button {
  background-color: #1F5673;
  border: 0px;
  border-radius: 2px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  position: relative;
  float: right;
  padding: 10px 10px;
  margin: 6px;
  width: 120px;
}

/* line 33, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.list__container {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* line 40, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.list__content__container {
  background-color: whitesmoke;
  border-radius: 2px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 100px;
  min-width: 350px;
  max-width: 800px;
  width: 80%;
}

/* line 51, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.list__form__container {
  margin: 10px;
}

/* line 55, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.test {
  padding: 3px;
}

/* line 59, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.contianer__back_button {
  float: left;
}

/* line 63, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.new__tasks__container {
  width: 50%;
  margin: 0 auto;
}

/* line 68, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
#task_name {
  width: 100%;
}

/* line 73, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.lists__text {
  margin-left: 0;
}

/* line 77, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.lists_title {
  font-size: 40px;
}

/* line 81, /Users/kyleannen/code/intern-s/calb/app/assets/stylesheets/lists.scss */
.to_do_title {
  text-align: left;
}
