$primary-blue: #4FB0C6;
$buttons-blue: #1F5673;
$font-stack: sans-serif;

.add__new__list {
    border-radius: 5px; 
}

body {
    background-color: $primary-blue;
    height: 100%;
    margin: 0;
}

.buttons__container {
    display: inline;
}

.container {
    padding: 100px;
    width: 360px;
}

.cover__buttons {
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

.cover__container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.cover__logo {
    height: 180px;
    width: 350px;
}

h1 {
    border-bottom: 20px;
    font-family: $font-stack;
    padding: 20px;
}

h3 {
    font-family: $font-stack;
    margin-left: 10%;
    padding-top: 40px;
}

h4 {
    font-family: $font-stack;
    margin-left: 12%
}

p {
    font-family: $font-stack;
}

label {
    font-family: $font-stack;
}

html {
    height: 100%;
}

input {
    border: 0px;
    border-bottom: 1px solid #B0BEC5;
    display: block;
    font-family: $font-stack;
    font-size: 15px;
    outline: none;
    padding: 5px;
    width: 300px;
    position: relative;
    outline: none;
    transition: all 0.5s;
    height: 15px;  
}

input:focus {
    border-bottom: 1px solid $buttons-blue ;
   }

.logo {
    border: 0;
    float: left;
    width: 50px;
}

.logo__cover__container {
    align-items: center;
    justify-content: center;
}

.login__signin__background {
    background-color: white;
    border-radius: 2px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.login__title {
    color:  #4FB0C6;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    padding: 10px;
}

p {
    text-align: center;
}

.nav {
    border: 1px solid black;
    float: right;
}

.nav__item {
    display: inline-block;
}

.secondary-button {   
    margin-left: 40%;
}

@mixin button {
    background-color: $buttons-blue;
    border: 0px;
    border-radius: 3px;
    color: white;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    height: 40px;
}

.new__task__button{
    @include button;
    font-size: 14px;
    width: 100px;
    height: 30px;

}

.cover__log__sign__buttons {
    @include button;
    background-color: #1F5673; 
    margin-top: 10px;
    width: 175px;
}
.bottom__log_sign__buttons {
    @include button;
    margin-top: 30px;
    width: 310px;
}

.top__log_sign__buttons {
    @include button;
    width: 130px;
}

.button__inactive {
    background-color: white;
    border: 1.5px solid $buttons-blue;
    color: $buttons-blue;
}

.title {
    border: 1px solid black;
    margin-top: 50px;
    text-align: center;
}

ul {
    margin-left: 10%
}

.test {
    display: inline-block;
    width: 43%;
}

a {
    text-decoration: none;
    font-family: $font-stack;
}

#error_explanation {
    font-family: $font-stack;
    font-size: 12px;

}
