.add__new__list {
    border-radius: 5px; 
}

body {
    background-color: #1490BA;
    height: 100%;
    margin: 0;
}

.container {
    border: 1px solid black;
    margin: 0 auto;
    max-width: 1000px;
}

.container-test {
    background-color: gray;
    height: 200px;
    margin-left: 40%;
    padding: 10px;
    width: 20%;
}

.cover__buttons{
    text-align: center;
}

.cover__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.cover__logo {
    height: 180px;
    width: 300px;
}

h3 {
    margin-left: 10%;
    padding-top: 40px;
}

h4 {
    margin-left: 12%
}

html {
    height: 100%;
}

input {
    display: block;
    width: 300px;
    height: 30px;
}

input[type="password"] {
    border: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; 
    padding: 5px;
}

input[type="username"] {
    border: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    padding: 5px;
}

.logo {
    border: 1px solid black;
    float: left;
}

.logo__cover__container {
    align-items: center;
    justify-content: center;

}

.login__button {
    border-radius: 5px;
    color: #4FB0C6;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
    width: 150px;
}

.login__title {
    color: #444;
}

p {
    text-align: center;
}

.nav {
    border: 1px solid black;
    float: right;
}

.nav__item {
    display: inline-block;
}

.secondary-button {   
    margin-left: 40%;
}

.secondary__login__button {
    width: 300px;
}

.sign__up__button {
    border-radius: 5px;
    color: #4FB0C6;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    height: 40px;
    width: 150px;
}

.title {
    border: 1px solid black;
    margin-top: 50px;
    text-align: center;
}

ul {
    margin-left: 10%
}