$primary-blue: #4FB0C6;

.add__new__list {
    border-radius: 5px; 
}

body {
    background-color: #1490BA;
    height: 100%;
    margin: 0;
}

.container {
    border: 1px solid black;
    margin: 0 auto;
    max-width: 1000px;
}

.cover__buttons {
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

.cover__container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.cover__logo {
    height: 180px;
    width: 350px;
}



h3 {
    margin-left: 10%;
    padding-top: 40px;
}

h4 {
    margin-left: 12%
}

html {
    height: 100%;
}

input {
    border: 0px;
    border-bottom: 1px solid #B0BEC5;
    border-bottom-right-radius: 2px; 
    display: block;
    font-family: 'Mina', sans-serif;
    font-size: 15px;
    height: 30px;
    outline: none;
    padding: 5px;
    width: 300px;
}

.logo {
    border: 1px solid black;
    float: left;
}

.logo__cover__container {
    align-items: center;
    justify-content: center;
}

.login__signin__background {
    background-color: white;
    border-radius: 2px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}


.login__title {
    color:  #4FB0C6;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    padding: 10px;
}

p {
    text-align: center;
}

.nav {
    border: 1px solid black;
    float: right;
}

.nav__item {
    display: inline-block;
}

.secondary-button {   
    margin-left: 40%;
}

@mixin button {
    background-color: $primary-blue;
    border: 0px;
    border-radius: 3px;
    color: white;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    height: 40px;
}
.cover__log__sign__buttons {
    @include button;
    margin-top: 10px;
    width: 175px;
}
.bottom__log_sign__buttons {
    @include button;
    margin-top: 30px;
    width: 310px;
}

.top__log_sign__buttons {
    @include button;
    width: 130px;
}

.button__inactive {
    background-color: lightblue;
    color: $primary-blue;
}

.ul__tab {

}

.title {
    border: 1px solid black;
    margin-top: 50px;
    text-align: center;
}

ul {
    margin-left: 10%
}
