// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-blue: #4FB0C6;
$buttons-blue: #1F5673;

.list_button {  
    background-color: $buttons-blue; 
    border: 0px;
    border-radius: 2px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    padding: 9px;
    max-height: 50px;
    width: 100%;
}

.new_list_button {  
    background-color: $buttons-blue; 
    border: 0px;
    border-radius: 2px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    position: relative;
    float: right;
    padding: 10px 10px;
    margin: 6px;
    width: 120px;
}

.list__container {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.list__content__container {
    background-color: whitesmoke;
    border-radius: 2px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 100px;
    min-width: 350px;
    max-width: 800px;
    width: 80%;
}

.list__form__container {
    margin: 10px;
}

.test {
    padding: 3px;
}

.contianer__back_button {
    float: left;
}

.new__tasks__container {
    width: 50%;
    margin: 0 auto;
}

#task_name {
    width: 100%;

}

.lists__text {
    margin-left: 0;
}

.lists_title {
    font-size: 40px;
}

.to_do_title {
    text-align: left;
}