// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-blue: #4FB0C6;
$buttons-blue: #1F5673;

.list_button {  
    background-color: $buttons-blue; 
    border: 0px;
    border-radius: 2px;
    color: white;
    padding: 30px;
    width: 100%;
}

.new_list_button {  
    background-color: $buttons-blue; 
    border: 0px;
    border-radius: 2px;
    color: white;
    position: relative;
    float: right;
    padding: 10px 10px;
    margin: 6px;
    width: 160px;
}


.lists_container {
    background-color: whitesmoke;
    border-radius: 2px;
    padding-bottom: 20px;
    text-align: center;
}